version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: games_repository_python_db
    environment:
      POSTGRES_DB: games_repo_db
      POSTGRES_USER: games_repo_user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
